@import '../../styles/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    display: flex;
    align-items: center;
  }

  .link {
    color: $color-font;
    font-size: 16px;
    font-weight: 700;
    background: $color-background;
    cursor: pointer;
    text-decoration: none;
  }
}
