$color-background: #e5e5e5;
$color-button: #34cb79;
$color-search: #2fb86e;
$color-font: #322153;
$color-title: #6c6c80;
$color-background-form: #6c6c80;
$color-card: #e1faec;
$color-font2: #ffffff;
$font-input: #a0a0b2;
