@import '../../styles/colors.module.scss';

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  .content {
    margin: 0 auto;
    padding: 46px 0 0;
    width: 85%;
    height: 100%;
  }

  .image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
